@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

div {
  color: #f9f7f4;
}

div.kabuto {
  @include flexbox();
  background-color: #1f2223;
}

div.atama {
  @include flex(2);
}

div.utuwa {
  width: fit-content;
  margin: auto;
  margin-top: 10%;
  background-color: rgba(31,34,35,0.3);
  border: crimson 1px solid;
  padding: 3px;
}

div#誤 {
  color: red;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}


